# I. Twitter Image Scraping

## Initialize API.

In [1]:
import config
import tweepy
import pandas as pd

api_key = ''
api_key_secret = ''

access_token = ''
access_secret_token = ''

auth = tweepy.OAuthHandler(config.api_key, config.api_key_secret)
auth.set_access_token(config.access_token, config.access_secret_token)

api = tweepy.API(auth, wait_on_rate_limit=True)

## Define function to fetch user tweets with api.user_timeline.

In [13]:
def getUserTweets(screen_name, count):


    # get tweets from the API
    tweets = tweepy.Cursor(api.user_timeline, screen_name=screen_name).items(count)

    # store the API responses in a list
    tweets_copy = []
    for tweet in tweets:
        if 'media' in tweet.entities: # and 'RT @' not in tweet.text:
            tweets_copy.append(tweet)

    # initialize the dataframe
    tweets_df = pd.DataFrame()
    # populate the dataframe
    for tweet in tweets_copy:
        hashtags = []
        media_url = []
        try:
            for hashtag in tweet.entities["hashtags"]:
                hashtags.append(hashtag["text"])
            for media in tweet.entities['media']:
                media_url.append(media["media_url_https"])
        except:
            pass
        tweets_df = pd.concat([tweets_df, pd.DataFrame({'created_at': tweet.created_at,
                                                        'user_name': tweet.user.screen_name,
                                                        'description': tweet.user.description,
                                                        'user_location': tweet.user.location,
                                                        'text': tweet.text,
                                                        'language': tweet.lang,
                                                        'hashtags': [hashtags if hashtags else None],
                                                        'media_url': [media_url if media_url else None],
                                                        'place': tweet.place,
                                                        })])
        tweets_df = tweets_df.reset_index(drop=True)

    return tweets_df

## User Tweets
Use getUserTweets() function to fetch user tweets

### user1
screen_name = @PilotHarbour

In [15]:
# Use getUserTweets function (screen_name = 'PilotHarbour', count = 1000)
user1 = getUserTweets('PilotHarbour', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user1))

# show the dataframe
user1.head()

Total Tweets fetched: 797

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-28 16:22:43+00:00,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain",RT @palmers_arie: feel welcome this week!! htt...,en,None,[https://pbs.twimg.com/media/FO75H6HXwAgkF33.jpg],None
1,2022-03-28 10:25:43+00:00,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain","Tenacia berthed Sur dock, Valencia port. \nhtt...",en,None,[https://pbs.twimg.com/media/FO7girmXsAEzJYt.jpg],None
2,2022-03-28 10:07:37+00:00,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain",RT @gwyfaz: Pilots disembarking the HMS Queen ...,en,None,[https://pbs.twimg.com/ext_tw_video_thumb/1508...,None
3,2022-03-28 09:34:18+00:00,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain",Scrubber MSC Brianna outbound Valencia port.\n...,en,None,[https://pbs.twimg.com/media/FO7U0PyXIAo0xbg.jpg],None
4,2022-03-28 07:18:26+00:00,PilotHarbour,Ports and pilots maritime photograpy,"Valencia, Spain","MSC Mia and MSC Brianna berthed MSC Terminal, ...",ht,None,[https://pbs.twimg.com/media/FO61uFqXsAUFEaC.jpg],None

In [66]:
# export dataframe to csv file
user1.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_pilotharbour.csv', index = False)

### user2
screen_name = @ShippingMag

In [17]:
# Use getUserTweets function (screen_name = 'ShippingMag', count = 1000)
user2 = getUserTweets('ShippingMag', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user2))

# show the dataframe
user2.head()

Total Tweets fetched: 203

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-28 17:00:47+00:00,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,RT @TarragonaPilots: mt Front Njord https://t....,en,None,[https://pbs.twimg.com/media/FO8db5CXsA0F4ou.jpg],None
1,2022-03-28 04:41:17+00:00,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,RT @mariopereda: MN MSC CAROLE 🚢 en el termin...,es,None,[https://pbs.twimg.com/media/FO5Ynu7XwA4jX4N.jpg],None
2,2022-03-26 17:18:33+00:00,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,RT @TarragonaPilots: mv Irene Madias #inandout...,et,[inandout],[https://pbs.twimg.com/ext_tw_video_thumb/1507...,None
3,2022-03-25 05:41:15+00:00,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,"RT @GibraltarPilots: At night, we did this. To...",en,None,[https://pbs.twimg.com/ext_tw_video_thumb/1507...,None
4,2022-03-24 07:00:32+00:00,ShippingMag,Shipping Today & Yesterday - the monthly magaz...,United Kingdom,RT @GaloMonge: Vb Ceballos…\n@boludacm https:/...,de,None,[https://pbs.twimg.com/media/FOj_P92XoAEmvAu.jpg],None

In [67]:
# export dataframe to csv file
user2.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_shippingmag.csv', index = False)

### user3
screen_name = @ShipsInPics

In [19]:
# Use getUserTweets function (screen_name = 'ShipsInPics', count = 1000)
user3 = getUserTweets('ShipsInPics', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user3))

# show the dataframe
user3.head()

Total Tweets fetched: 123

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-28 20:10:35+00:00,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @AfricaUya: WEC CORNEILLE at⚓️ #Ship #port ...,de,"[Ship, port, sea, shipsinpics, maritime, VTS, ...",[https://pbs.twimg.com/media/FO9aQDzWQAw9nUe.jpg],None
1,2022-03-27 18:10:34+00:00,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @AfricaUya: SDS GREEN⚓️ #Ship #port #sea #s...,sv,"[Ship, port, sea, shipsinpics, maritime, VTS, ...",[https://pbs.twimg.com/media/FO38_N1XEAUsNz_.jpg],None
2,2022-03-26 19:10:52+00:00,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @hhvferry: Viking Glory of @vikingline_se a...,en,[shipsinpics],[https://pbs.twimg.com/media/FOzE5YIXEAMLGCq.jpg],None
3,2022-03-25 13:10:37+00:00,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @LarryHenley2: GM gm GM\nlooks to be a marv...,en,"[shipsinpics, NOLA]",[https://pbs.twimg.com/media/FOsmwJjXsAAYCOo.jpg],None
4,2022-03-25 10:10:39+00:00,ShipsInPics,Sharing the best ship photos 📷 around. Tweets ...,Email: shipsinpics@gmail.com,RT @Gibdan1: Cargo ships in Gibraltar #shipsin...,en,"[shipsinpics, ships, shipping, shipspotting]",[https://pbs.twimg.com/media/FOr7W7_XMAc8UII.jpg],None

In [68]:
# export dataframe to csv file
user3.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_shipsinpics.csv', index = False)

### user4
screen_name = @captsingh

In [102]:
# Use getUserTweets function (screen_name = 'captsingh', count = 1000)
user4 = getUserTweets('captsingh', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user4))

# show the dataframe
user4.head()

Total Tweets fetched: 478

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-29 10:28:15+00:00,captsingh,🌎 World #Travelled ■ UK Class.1 Master Marine...,Singapore 🇸🇬,. @LauschJack https://t.co/RXXWWZR7Y3,und,None,[https://pbs.twimg.com/media/FPAqvYEVcAAH_Tw.jpg],None
1,2022-03-29 10:21:01+00:00,captsingh,🌎 World #Travelled ■ UK Class.1 Master Marine...,Singapore 🇸🇬,\ https://t.co/MaqsfK432r,und,None,[https://pbs.twimg.com/ext_tw_video_thumb/1508...,None
2,2022-03-29 09:47:01+00:00,captsingh,🌎 World #Travelled ■ UK Class.1 Master Marine...,Singapore 🇸🇬,RT @v30088v: @captsingh https://t.co/6Q0R6Zywu5,und,None,[https://pbs.twimg.com/ext_tw_video_thumb/1508...,None
3,2022-03-29 08:47:46+00:00,captsingh,🌎 World #Travelled ■ UK Class.1 Master Marine...,Singapore 🇸🇬,\ https://t.co/mkflW0G4F5,und,None,[https://pbs.twimg.com/ext_tw_video_thumb/1508...,None
4,2022-03-29 06:41:18+00:00,captsingh,🌎 World #Travelled ■ UK Class.1 Master Marine...,Singapore 🇸🇬,Good day @havdh4024 https://t.co/8YDdmfrSkT,en,None,[https://pbs.twimg.com/ext_tw_video_thumb/1508...,None

In [103]:
# export dataframe to csv file
user4.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_captsingh.csv', index = False)

### user4
screen_name = @WarshipCam

In [23]:
# Use getUserTweets function (screen_name = 'WarshipCam', count = 1000)
user5 = getUserTweets('WarshipCam', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user5))

# show the dataframe
user5.head()

Total Tweets fetched: 83

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-28 18:54:21+00:00,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",Unidentified submarine leaving Bremerton and h...,en,None,[https://pbs.twimg.com/media/FO9VAUkXwAQsmHo.jpg],None
1,2022-03-28 18:46:13+00:00,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",HMS Portland (F79) Duke-class frigate leaving ...,en,"[hmsportland, f79]",[https://pbs.twimg.com/media/FO9TJHHWQAQx3oZ.jpg],None
2,2022-03-28 17:18:29+00:00,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",USS Carl Vinson (CVN 70) Nimitz-class aircraft...,en,"[usscarlvinson, cvn70]",[https://pbs.twimg.com/media/FO8_Db5WYAgTrm9.jpg],None
3,2022-03-28 17:14:39+00:00,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",USS Carl Vinson (CVN 70) Nimitz-class aircraft...,en,"[usscarlvinson, cvn70]",[https://pbs.twimg.com/media/FO8-L4aXMAwFXf_.jpg],None
4,2022-03-28 17:14:19+00:00,WarshipCam,*-* Watching webcams & social media for views ...,"Virginia, USA",USS Carl Vinson (CVN 70) Nimitz-class aircraft...,en,"[usscarlvinson, cvn70]",[https://pbs.twimg.com/media/FO8-GyDXMAE3YKR.jpg],None

In [70]:
# export dataframe to csv file
user5.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_warshipcam.csv', index = False)

### user6
screen_name = @NavyLookout

In [25]:
# Use getUserTweets function (screen_name = 'NavyLookout', count = 1000)
user6 = getUserTweets('NavyLookout', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user6))

# show the dataframe
user6.head()

Total Tweets fetched: 333

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-28 17:43:58+00:00,NavyLookout,Independent Royal Navy news and analysis,UK,.@hms_pembroke outbound on the Clyde today.\n\...,en,None,[https://pbs.twimg.com/media/FO9ExbvXEAQtxTk.jpg],None
1,2022-03-28 16:12:13+00:00,NavyLookout,Independent Royal Navy news and analysis,UK,Latest news commentary:\n\nAssessing Russia’s ...,en,None,[https://pbs.twimg.com/media/FO8t2R3XsAgiBiQ.jpg],None
2,2022-03-28 09:28:09+00:00,NavyLookout,Independent Royal Navy news and analysis,UK,.@HMSQNLZ sails from Liverpool this morning \n...,en,None,[https://pbs.twimg.com/media/FO7TZ9QXEAULrqX.jpg],None
3,2022-03-28 09:25:48+00:00,NavyLookout,Independent Royal Navy news and analysis,UK,.@hms_tyne outbound from Devonport for more @F...,en,None,[https://pbs.twimg.com/media/FO7S3k7XEAgxfmj.jpg],None
4,2022-03-28 09:09:57+00:00,NavyLookout,Independent Royal Navy news and analysis,UK,P2000s @HMS_Smiter @HMSExplorer @HMSArcher sai...,en,None,[https://pbs.twimg.com/media/FO7PItPXwAApe1W.jpg],None

In [71]:
# export dataframe to csv file
user6.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_navylookout.csv', index = False)

### user7
screen_name = @FraserG32883664

In [27]:
# Use getUserTweets function (screen_name = 'FraserG32883664', count = 1000)
user7 = getUserTweets('FraserG32883664', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user7))

# show the dataframe
user7.head()

Total Tweets fetched: 171

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-24 08:42:36+00:00,FraserG32883664,,,Svitzer tug boat ‘water colour’. @SvitzerGloba...,ca,"[Tugs, Gravesend, RiverThames]",[https://pbs.twimg.com/media/FOmikIEXwAAml8b.jpg],None
1,2022-03-20 08:04:36+00:00,FraserG32883664,,,Chemical and oil tanker STI Clapham passing Ea...,en,"[ShipsInPics, Tilbury, RiverThames]",[https://pbs.twimg.com/media/FORzgYiWUAMWFUM.jpg],None
2,2022-03-16 06:07:30+00:00,FraserG32883664,,,SSI Erdogan Bey on the Thames and passing the ...,en,"[ShipsInPics, BulkCarrier, Gravesend, RiverTha...",[https://pbs.twimg.com/media/FN8yWObXoAALAD6.jpg],None
3,2022-03-09 09:43:48+00:00,FraserG32883664,,,Cargo ship Okiana progressing along the Essex ...,en,"[ShipsInPics, CargoShip, RiverThames]",[https://pbs.twimg.com/media/FNZgjdGX0AIarb2.jpg],None
4,2022-03-05 07:12:37+00:00,FraserG32883664,,,Bulk carrier Moleson heading into Gravesend Re...,en,"[ShipsInPics, BulkCarrier, RiverThames]",[https://pbs.twimg.com/media/FNEXxv4XEAYyChv.jpg],None

In [72]:
# export dataframe to csv file
user7.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_fraserg32883664.csv', index = False)

### user8
screen_name = @pah1974

In [29]:
# Use getUserTweets function (screen_name = 'pah1974', count = 1000)
user8 = getUserTweets('pah1974', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user8))

# show the dataframe
user8.head()

Total Tweets fetched: 322

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-16 11:13:00+00:00,pah1974,ship spotter.posting pics and video's of ships...,,Dfds TULIPA SEAWAYS departing the Port of Feli...,en,None,[https://pbs.twimg.com/media/FN94ED5XsAo6hYU.jpg],None
1,2022-03-16 11:10:12+00:00,pah1974,ship spotter.posting pics and video's of ships...,,Ro-Ro ship ML FREYJA heading for the old navy ...,en,None,[https://pbs.twimg.com/media/FN93RW2WUAEfQLD.jpg],None
2,2022-03-16 11:07:34+00:00,pah1974,ship spotter.posting pics and video's of ships...,,Empty feeder containership A LA MARINE heading...,en,None,[https://pbs.twimg.com/media/FN921a4WQAsHdSO.jpg],None
3,2022-03-16 11:06:01+00:00,pah1974,ship spotter.posting pics and video's of ships...,,MAERSK KLEVIN departing the Port of Felixstowe...,en,None,[https://pbs.twimg.com/media/FN92blCXsAoe-zR.jpg],None
4,2022-03-10 19:06:17+00:00,pah1974,ship spotter.posting pics and video's of ships...,,Tug RT PETER between Gravesend and Tilbury 10/...,en,None,[https://pbs.twimg.com/media/FNgq1iHXEAMqq6z.jpg],None

In [73]:
# export dataframe to csv file
user8.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_pah1974.csv', index = False)

### user9
screen_name = @johnmorgan726

In [31]:
# Use getUserTweets function (screen_name = 'johnmorgan726', count = 1000)
user9 = getUserTweets('johnmorgan726', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user9))

# show the dataframe
user9.head()

Total Tweets fetched: 101

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-27 21:15:03+00:00,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA",RT @Fotogmike: @BraydenCreation https://t.co/R...,und,None,[https://pbs.twimg.com/media/FO4n41NX0Ao4A89.jpg],None
1,2022-03-27 16:13:32+00:00,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA",RT @Fotogmike: @deftony83 https://t.co/nVRrhLA8sh,und,None,[https://pbs.twimg.com/media/FOzvqhEWUBAnMNB.jpg],None
2,2022-03-26 21:36:02+00:00,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA",@WarshipCam @scottdurham Another view from the...,en,None,[https://pbs.twimg.com/media/FOzm1Q7XEAQRl5Y.jpg],Place(_api=<tweepy.api.API object at 0x0000025...
3,2022-03-26 18:41:33+00:00,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA",The #HopperDredger #Stuyvesant IMO:7915838 🇺🇸 ...,en,"[HopperDredger, Stuyvesant, OffshoreSupplyShip...",[https://pbs.twimg.com/media/FOy-5W_WUAo_65c.jpg],Place(_api=<tweepy.api.API object at 0x0000025...
4,2022-03-24 22:27:45+00:00,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA",RT @Visita_Cortesia: Puente de mando del Sayre...,es,None,[https://pbs.twimg.com/media/FOocHmsXsAMhMzD.jpg],None

In [74]:
# export dataframe to csv file
user9.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_johnmorgan726.csv', index = False)

### user10
screen_name = @MaritimePhotos

In [33]:
# Use getUserTweets function (screen_name = 'MaritimePhotos', count = 1000)
user10 = getUserTweets('MaritimePhotos', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user10))

# show the dataframe
user10.head()

Total Tweets fetched: 412

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-25 07:49:23+00:00,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",Maiden call of @BrittanyFerries @PortsmouthPor...,en,"[Salamanca, Portsmouth, ferrynews]",[https://pbs.twimg.com/media/FOrf-taX0AE2Uwg.jpg],None
1,2022-03-21 08:25:27+00:00,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",Bonjour and good morning! @BrittanyFerries #Ba...,en,"[Barfleur, ferry]",[https://pbs.twimg.com/media/FOXBU_fXEAA4pjg.jpg],None
2,2022-03-21 08:21:18+00:00,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",The @VirginVoyages #ValiantLady returning @Por...,en,"[ValiantLady, Portsmouth]",[https://pbs.twimg.com/media/FOXAtgNXoAIz7pB.jpg],None
3,2022-03-11 13:05:13+00:00,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",Arrival of @RFAWaveKnight for lay-up. #Portsmo...,en,[Portsmouth],[https://pbs.twimg.com/media/FNkhe_pWUAEuZJu.jpg],None
4,2022-03-10 09:26:14+00:00,MaritimePhotos,Freelance photographer providing creative imag...,"Portsmouth, England",Back to sea for @HMSQNLZ. Both RN aircraft car...,en,[Portsmouth],[https://pbs.twimg.com/media/FNel5KeXIAEcBKx.jpg],None

In [75]:
# export dataframe to csv file
user10.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_maritimephotos.csv', index = False)

### user11
screen_name = @ManuelHdezLaf

In [57]:
# Use getUserTweets function (screen_name = 'ManuelHdezLaf', count = 1000)
user11 = getUserTweets('ManuelHdezLaf', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user11))

# show the dataframe
user11.head()

Total Tweets fetched: 132

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-27 16:25:29+00:00,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",#Plantaginaceae\n#Antirrhinum litigiosum Pau /...,ca,"[Plantaginaceae, Antirrhinum]",[https://pbs.twimg.com/media/FO3pVVmX0AUBPQF.jpg],None
1,2022-03-27 11:14:10+00:00,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",Les Cases de l'Onyar #Girona\nhttps://t.co/GF4...,ca,[Girona],[https://pbs.twimg.com/media/FO2iCpYXsAAoPkm.jpg],None
2,2022-03-26 11:23:20+00:00,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",Dársena Nacional del Puerto de Barcelona\nhttp...,es,None,[https://pbs.twimg.com/media/FOxak9mWUAAVX2E.jpg],None
3,2022-03-24 06:42:32+00:00,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",Parque Güell. El 'árbol seco' del viaducto.\nh...,es,None,[https://pbs.twimg.com/media/FOmHCriWYAE77qz.jpg],None
4,2022-03-23 06:28:57+00:00,ManuelHdezLaf,"Capitán de la Marina Mercante, jubilado. Fotog...","Valencia, España",Costa Quebrada\nhttps://t.co/eCUNZxjYQi https:...,es,None,[https://pbs.twimg.com/media/FOg6alnWQAY7a_b.jpg],None

In [76]:
# export dataframe to csv file
user11.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_manuelhdezlaf.csv', index = False)

### user12
screen_name = @shipsphotos

In [59]:
# Use getUserTweets function (screen_name = 'shipsphotos', count = 1000)
user12 = getUserTweets('shipsphotos', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user12))

# show the dataframe
user12.head()

Total Tweets fetched: 219

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-25 11:34:55+00:00,shipsphotos,🇪🇸 Based in Spain 📷 Amateur photographer 🚢 Shi...,"Tarifa, España",Embarcación de prácticos @AlgecirasPilots neve...,es,"[pilot, boat, rawsea]",[https://pbs.twimg.com/media/FOsTGzGXIAENfzw.jpg],None
1,2022-03-20 21:59:33+00:00,shipsphotos,🇪🇸 Based in Spain 📷 Amateur photographer 🚢 Shi...,"Tarifa, España",RT @Visita_Cortesia: Ferry GNV Bridge atracado...,es,None,[https://pbs.twimg.com/media/FOUTTQyWQAQkBXV.jpg],None
2,2022-03-19 10:53:08+00:00,shipsphotos,🇪🇸 Based in Spain 📷 Amateur photographer 🚢 Shi...,"Tarifa, España",Ship to ship MOUNT OLYMPUS 🇲🇭 and B. STAR 🇲🇭 a...,en,"[oiltankers, shiptoship, Gibraltar]",[https://pbs.twimg.com/media/FONQRdJXoAI8US3.jpg],None
3,2022-03-17 17:37:58+00:00,shipsphotos,🇪🇸 Based in Spain 📷 Amateur photographer 🚢 Shi...,"Tarifa, España",Un POETA LOPEZ ANGLADA 🇨🇾 @Balearia con ganas ...,es,"[ferry, fotonocturna, balearia]",[https://pbs.twimg.com/media/FOEaCSGXMAc1Bb5.jpg],None
4,2022-03-15 08:04:38+00:00,shipsphotos,🇪🇸 Based in Spain 📷 Amateur photographer 🚢 Shi...,"Tarifa, España",@agusjesgarsan @PuertoAlgeciras @BarcosporCadi...,es,None,[https://pbs.twimg.com/tweet_video_thumb/FN4Do...,None

In [77]:
# export dataframe to csv file
user12.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_shipsphotos.csv', index = False)

### user13
screen_name = @HHshipspotting

In [61]:
# Use getUserTweets function (screen_name = 'HHshipspotting', count = 1000)
user13 = getUserTweets('HHshipspotting', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user13))

# show the dataframe
user13.head()

Total Tweets fetched: 41

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2020-10-08 15:48:00+00:00,HHshipspotting,Shipping activity around Hamburg Harbor\nTips ...,"Hamburg, Germany","Dignity Ace, #Vehicle Carrier 200x32m, towed b...",en,"[Vehicle, tugboat, port, hamburg]",[https://pbs.twimg.com/media/EjzFb_XWoAAnrrb.jpg],None
1,2020-09-01 20:30:11+00:00,HHshipspotting,Shipping activity around Hamburg Harbor\nTips ...,"Hamburg, Germany","Icy #Elbe river on a sunny #winter day, #Hambu...",en,"[Elbe, winter, Hamburg]",[https://pbs.twimg.com/media/Eg2zjuLXcAIQGK3.jpg],None
2,2020-08-11 13:19:49+00:00,HHshipspotting,Shipping activity around Hamburg Harbor\nTips ...,"Hamburg, Germany","Alexander von Humboldt, Hopper #Dredger, Jan d...",nl,"[Dredger, Hamburg]",[https://pbs.twimg.com/media/EfJHyDRWAAEcBKH.jpg],None
3,2020-08-04 13:42:51+00:00,HHshipspotting,Shipping activity around Hamburg Harbor\nTips ...,"Hamburg, Germany","Sunset at Museumshafen Oevelgönne, #Hamburg\n2...",de,[Hamburg],[https://pbs.twimg.com/media/EelKGcYXYAESzVT.jpg],None
4,2020-08-02 12:03:32+00:00,HHshipspotting,Shipping activity around Hamburg Harbor\nTips ...,"Hamburg, Germany",Viking Destiny passing by #StPauli Fischmarkt....,en,"[StPauli, Hamburg]",[https://pbs.twimg.com/media/EeafoMMWoAAd-BJ.jpg],None

In [78]:
# export dataframe to csv file
user13.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_hhshipspotting.csv', index = False)

### user14
screen_name = @CargoShipVoyage

In [93]:
# Use getUserTweets function (screen_name = 'CargoShipVoyage', count = 1000)
user14 = getUserTweets('CargoShipVoyage', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user14))

# show the dataframe
user14.head()

Total Tweets fetched: 74

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2020-09-25 10:00:23+00:00,CargoShipVoyage,"Purveyors of sea travel since 1993, we are wor...","Cowes, UK",We're very much open for enquiries and booking...,en,"[cargoshipcruises, cargoshipjourney, seatravel]",[https://pbs.twimg.com/media/EiwJ9DRXcAArU1-.jpg],None
1,2020-05-08 21:09:58+00:00,CargoShipVoyage,"Purveyors of sea travel since 1993, we are wor...","Cowes, UK",https://t.co/EfvKsdkFhp,und,None,[https://pbs.twimg.com/media/EXhko9pXsAAX6jV.jpg],None
2,2020-03-23 19:51:03+00:00,CargoShipVoyage,"Purveyors of sea travel since 1993, we are wor...","Cowes, UK",RT @Humansatsea: Stay inside your home. we are...,en,[humansatsea],[https://pbs.twimg.com/media/ETzgEVHUYAATmEd.jpg],None
3,2017-10-15 12:00:37+00:00,CargoShipVoyage,"Purveyors of sea travel since 1993, we are wor...","Cowes, UK",RT @careersatsea: New day. New adventure. Be a...,en,[careersatsea],[https://pbs.twimg.com/ext_tw_video_thumb/9078...,None
4,2016-07-05 21:05:56+00:00,CargoShipVoyage,"Purveyors of sea travel since 1993, we are wor...","Cowes, UK",RT @dixitsudhir12: #seafarers #SailorsLife @Fl...,und,"[seafarers, SailorsLife]",[https://pbs.twimg.com/media/Cmg7y3uUcAAOQNE.jpg],None

In [94]:
# export dataframe to csv file
user14.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_cargoshipvoyage.csv', index = False)

### user15
screen_name = @maritimephoto

In [95]:
# Use getUserTweets function (screen_name = 'maritimephoto', count = 1000)
user15 = getUserTweets('maritimephoto', 1000)

# show total number of tweets
print("Total Tweets fetched:", len(user15))

# show the dataframe
user15.head()

Total Tweets fetched: 393

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2021-04-22 21:19:36+00:00,maritimephoto,http://t.co/0dSqgMG6EJ is a small company invo...,"near Flushing, Holland",Shoalbuster 3514 BRUTUS seen on DP trials at t...,en,None,[https://pbs.twimg.com/media/Ezm5sn0WUAEM36b.jpg],None
1,2020-01-25 11:12:27+00:00,maritimephoto,http://t.co/0dSqgMG6EJ is a small company invo...,"near Flushing, Holland",Today exactly 33 years ago: tanker OLYMPIC DRE...,en,None,[https://pbs.twimg.com/media/EPH2iahX0AAB5kE.jpg],None
2,2019-09-12 18:56:32+00:00,maritimephoto,http://t.co/0dSqgMG6EJ is a small company invo...,"near Flushing, Holland",MULTRATUG 4 seen 12/09/2019 arriving at Flushi...,en,None,[https://pbs.twimg.com/media/EESSIO1WkAASUG9.jpg],None
3,2019-05-17 08:58:37+00:00,maritimephoto,http://t.co/0dSqgMG6EJ is a small company invo...,"near Flushing, Holland",Nice to see our image of BOKALIFT 1 as coverph...,en,None,[https://pbs.twimg.com/media/D6wdrUYX4AA4BoK.jpg],None
4,2019-05-16 21:55:19+00:00,maritimephoto,http://t.co/0dSqgMG6EJ is a small company invo...,"near Flushing, Holland",French cruiseliner LE BOREAL seen passing Flus...,en,None,[https://pbs.twimg.com/media/D6uF2-_W0AAGQLt.jpg],None

In [96]:
# export dataframe to csv file
user15.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_maritimephoto.csv', index = False)

## Define function to fetch user tweets with api.search_tweets.

In [83]:
def get_tweets(userid, count_number):
    tweets = tweepy.Cursor(api.search_tweets, q = userid +'-filter:retweets').items(1000)

    # Create 2 empty lists to store images url and tweets

    images_list = []
    tweets_list = []

    # Find and display images url from the dictionary
    for tweet in tweets:
        if 'media' in tweet.entities:
            tweets_list.append(tweet)

            for image in tweet.entities['media']:
                images = image['media_url']
                images_list.append(images) # Store images url

    tweets_df = pd.DataFrame()

    for tweet in tweets_list:
        tweets_df = pd.concat([tweets_df, pd.DataFrame({'user_name': tweet.user.screen_name,
                                                        'created_at': tweet.created_at,
                                                        'user_location': tweet.user.location,
                                                        'place': tweet.place,
                                                        'description': tweet.user.description,
                                                        'media_url': [images_list],
                                                        'language': tweet.lang,
                                                        'text': tweet.text,
                                                        'hashtags': [tweet.entities['hashtags']],
                                                        })])

        tweets_df  = tweets_df.reset_index(drop = True)

    return tweets_df

screen_name = @gCaptain

In [84]:
gCaptain = get_tweets('gCaptain', 1000)
print(len(gCaptain))
gCaptain.head()

321

,user_name,created_at,user_location,place,description,media_url,language,text,hashtags
0,EazyCadet,2022-03-28 22:54:03+00:00,"England, United Kingdom",None,'The Eazy Cadet' is an online resource centre ...,[http://pbs.twimg.com/media/FO-L3p7VUAAuJ1c.jp...,en,Nuclear powered ships? https://t.co/0LsjEm2L0X...,[]
1,MaritimeSocialM,2022-03-28 22:31:38+00:00,"Egham, South East",None,"Sailing, cruising and anything related to the ...",[http://pbs.twimg.com/media/FO-L3p7VUAAuJ1c.jp...,en,Turkey Defuses Another Stray Naval Mine in Bla...,[]
2,MaritimeSocialM,2022-03-28 22:31:35+00:00,"Egham, South East",None,"Sailing, cruising and anything related to the ...",[http://pbs.twimg.com/media/FO-L3p7VUAAuJ1c.jp...,en,Savannah Completes Decades-Long Harbor Deepeni...,[]
3,MaritimeSocialM,2022-03-28 22:31:33+00:00,"Egham, South East",None,"Sailing, cruising and anything related to the ...",[http://pbs.twimg.com/media/FO-L3p7VUAAuJ1c.jp...,en,Maersk to Explore Large-Scale Green Fuel Produ...,[]
4,EazyCadet,2022-03-28 22:04:06+00:00,"England, United Kingdom",None,'The Eazy Cadet' is an online resource centre ...,[http://pbs.twimg.com/media/FO-L3p7VUAAuJ1c.jp...,en,Misc. Cartoons https://t.co/GoO5TKXMW0 https:/...,[]

In [85]:
# Save it into a csv file
gCaptain.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_gcaptain.csv', index = False)

screen_name = @georgeemmett8

In [89]:
georgeemmett8 = get_tweets('georgeemmett8', 1000)
print(len(georgeemmett8))
georgeemmett8.head()

84

,user_name,created_at,user_location,place,description,media_url,language,text,hashtags
0,georgeemmett8,2022-03-28 17:54:20+00:00,"Portsmouth, England",None,I have autism and like taking pictures of ship...,[http://pbs.twimg.com/media/FO9HJ0qXIAAtp7Y.jp...,en,A fishing boat arriving into Portsmouth on the...,[]
1,georgeemmett8,2022-03-28 17:51:54+00:00,"Portsmouth, England",None,I have autism and like taking pictures of ship...,[http://pbs.twimg.com/media/FO9HJ0qXIAAtp7Y.jp...,en,@HovertravelLtd Hovercraft passing @wightlinkf...,[]
2,georgeemmett8,2022-03-28 17:50:42+00:00,"Portsmouth, England",None,I have autism and like taking pictures of ship...,[http://pbs.twimg.com/media/FO9HJ0qXIAAtp7Y.jp...,en,@wightlinkferry St Faith and St Clare in the b...,[]
3,georgeemmett8,2022-03-28 17:43:23+00:00,"Portsmouth, England",None,I have autism and like taking pictures of ship...,[http://pbs.twimg.com/media/FO9HJ0qXIAAtp7Y.jp...,en,@BrittanyFerries Bretagne arriving into @Ports...,[]
4,Streetgang42,2022-03-28 13:27:08+00:00,"ÜT: 53.415392,-3.02828",None,Full time dad to 7 with a penchant for gadgets...,[http://pbs.twimg.com/media/FO9HJ0qXIAAtp7Y.jp...,en,@georgeemmett8 she has come a long way George!...,[]

In [91]:
# Save it into a csv file
georgeemmett8.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_georgeemmett8.csv', index = False)

screen_name = @Krispen_Ships

In [97]:
Krispen_Ships = get_tweets('Krispen_Ships', 1000)
print(len(Krispen_Ships))
Krispen_Ships.head()

4

,user_name,created_at,user_location,place,description,media_url,language,text,hashtags
0,jason_photos,2022-03-28 18:10:19+00:00,kent,None,,[http://pbs.twimg.com/media/FO9KXKOWYAEqu-_.jp...,en,@thamesclippers @visit_gravesend @LondonPortAu...,[]
1,jason_photos,2022-03-28 15:30:13+00:00,kent,None,,[http://pbs.twimg.com/media/FO9KXKOWYAEqu-_.jp...,en,@thamesclippers @LondonPortAuth @Krispen_Ships...,[]
2,Krispen_Ships,2022-03-23 18:31:38+00:00,"Greenhithe, UK",None,"Self confessed ship enthusiast, proud Cornishm...",[http://pbs.twimg.com/media/FO9KXKOWYAEqu-_.jp...,en,"A sign that the days are drawing out, MARIA GR...",[]
3,jason_photos,2022-03-21 11:11:44+00:00,kent,None,,[http://pbs.twimg.com/media/FO9KXKOWYAEqu-_.jp...,en,@Krispen_Ships i just nr miss getting her http...,[]

In [98]:
# Save it into a csv file
Krispen_Ships.to_csv('C:/Users/tivon/projects/twitter_project/data/user_tweets_krispen_ships.csv', index = False)

## Define function to fetch query tweets with api.search_tweets.

In [ ]:
def getQueryTweets(search_query, count):

    # get tweets from the API
    tweets = tweepy.Cursor(api.search_tweets, q=search_query).items(count)

    # store the API responses in a list
    tweets_copy = []
    for tweet in tweets:
        if 'media' in tweet.entities:
            tweets_copy.append(tweet)

    # initialize the dataframe
    tweets_df = pd.DataFrame()
    # populate the dataframe
    for tweet in tweets_copy:
        hashtags = []
        media_url = []
        try:
            for hashtag in tweet.entities["hashtags"]:
                hashtags.append(hashtag["text"])
            for media in tweet.entities['media']:
                media_url.append(media["media_url_https"])
        except:
            pass
        tweets_df = pd.concat([tweets_df, pd.DataFrame({'created_at': tweet.created_at,
                                                        'user_name': tweet.user.screen_name,
                                                        'description': tweet.user.description,
                                                        'user_location': tweet.user.location,
                                                        'text': tweet.text,
                                                        'language': tweet.lang,
                                                        'hashtags': [hashtags if hashtags else None],
                                                        'media_url':[media_url if media_url else None],
                                                        'place': tweet.place,
                                                        })])
        tweets_df = tweets_df.reset_index(drop=True)

    return tweets_df

## Query Tweets
Use getQueryTweets() function to fetch query tweets

### query1
search_query = warship

In [35]:
# Use getQueryTweets function (search_query = 'warship', count = 500)
query1 = getQueryTweets('warship -filter:retweets', 500) # -filter:retweets excludes RT from query

# show total number of tweets fetched
print("Total Tweets fetched:", len(query1))

# show the dataframe
query1.head()

Total Tweets fetched: 75

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-28 21:40:58+00:00,warship_hengaba,その名の通り軍艦を偏見とガバガバ知識で語るbotです。30分に1回はつぶやきます。 艦これ...,どこか,千代田形/日本/砲艦\n幕府が総力を上げて作った初の国産西洋軍艦\n船体、武装、機関全てが国...,ja,None,[https://pbs.twimg.com/media/D1JhiazUYAA5UTH.jpg],None
1,2022-03-28 20:41:26+00:00,dobryranok,internally displaced person,Ukraine,@JLarky @JimmySecUK Follow your warship and ta...,en,None,[https://pbs.twimg.com/media/FO9tgzLWUAMc9cw.jpg],None
2,2022-03-28 20:40:53+00:00,warship_hengaba,その名の通り軍艦を偏見とガバガバ知識で語るbotです。30分に1回はつぶやきます。 艦これ...,どこか,ダントン級戦艦/フランス/戦艦\n以前のように少しずつ戦艦を造る方法だと英独に対抗できないの...,ja,None,[https://pbs.twimg.com/media/DvRVK8NUwAEQq1K.jpg],None
3,2022-03-28 20:31:15+00:00,WatchdogforNFT,🤯I do things from time to time and hopefully y...,,"Russian Warship, Go Fuck Yourself!\n#russianwa...",en,"[russianwarshipgfy, russianwarshipgofyourself,...",[https://pbs.twimg.com/media/FO9rL0_XEAEGatN.jpg],None
4,2022-03-28 20:24:19+00:00,idle_warship,"""Eye flossed a wilt olive,"" eek rides oft lien...","Portland, OR",G. Erle Cocke https://t.co/AAwh1WTwtV,de,None,[https://pbs.twimg.com/media/FO9pmJhVsAAMUPi.jpg],None

In [80]:
# export dataframe to csv file
query1.to_csv('C:/Users/tivon/projects/twitter_project/data/query_tweets_warship.csv', index = False)

### query2
search_query = containership

In [37]:
# Use getQueryTweets function (search_query = 'containership', count = 500)
query2 = getQueryTweets('containership -filter:retweets', 500) # -filter:retweets excludes RT from query

# show total number of tweets fetched
print("Total Tweets fetched:", len(query2))

# show the dataframe
query2.head()

Total Tweets fetched: 9

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-26 20:58:32+00:00,Miguel_Egea,Segunda estrella a la derecha y todo recto has...,Cartagena,@johnmorgan726 #ContainerShip + Clouds 📸 🥰 🔝🔝🔝...,en,[ContainerShip],[https://pbs.twimg.com/tweet_video_thumb/FOzeP...,None
1,2022-03-25 23:43:35+00:00,JoshSearlesWx,Meteorologist woking in global shipping operat...,"New York, USA",Just caught the MSC Ludovica passing through T...,en,"[shipping, containership]",[https://pbs.twimg.com/media/FOu6bsWWQAY3HpF.jpg],None
2,2022-03-25 09:16:06+00:00,albertpallares,Professional especialitzat en el Transport Mar...,Travelling a lot,"Silverstream air bubble tech for 16,000 TEU co...",en,None,[https://pbs.twimg.com/media/FOrz4vMVEAIh0Ik.jpg],None
3,2022-03-23 17:34:43+00:00,johnmorgan726,"I enjoy HAM radio, fishing, and maritime traff...","Virginia Beach, VA","The HSL NIKE, IMO:9301457 en route to New York...",en,"[HSLNike, ContainerShip, ShipsInPics]",[https://pbs.twimg.com/media/FOjS1FAXsAMl-cl.jpg],Place(_api=<tweepy.api.API object at 0x0000025...
4,2022-03-23 11:55:06+00:00,EazyCadet,'The Eazy Cadet' is an online resource centre ...,"England, United Kingdom","Silverstream air bubble tech for 16,000 TEU co...",en,None,[https://pbs.twimg.com/media/FOiFGQzVsAIXtRV.jpg],None

In [81]:
# export dataframe to csv file
query2.to_csv('C:/Users/tivon/projects/twitter_project/data/query_tweets_containership.csv', index = False)

### query3
search_query = navylookout

In [39]:
# Use getQueryTweets function (search_query = 'navylookout', count = 500)
query3 = getQueryTweets('navylookout -filter:retweets', 500) # -filter:retweets excludes RT from query

# show total number of tweets fetched
print("Total Tweets fetched:", len(query3))

# show the dataframe
query3.head()

Total Tweets fetched: 44

,created_at,user_name,description,user_location,text,language,hashtags,media_url,place
0,2022-03-28 17:49:08+00:00,IainS9,We Were Warriors Once and Had Courage (sayeth...,Scotland,@NavyLookout @hms_pembroke @SheilaLWeir - But ...,en,None,[https://pbs.twimg.com/media/FO9F_UsXoAAPluk.jpg],None
1,2022-03-28 17:43:58+00:00,NavyLookout,Independent Royal Navy news and analysis,UK,.@hms_pembroke outbound on the Clyde today.\n\...,en,None,[https://pbs.twimg.com/media/FO9ExbvXEAQtxTk.jpg],None
2,2022-03-28 16:31:01+00:00,lenkabondarenka,push the tempo,Украина,@NavyLookout https://t.co/R3IlIY8qD8,und,None,[https://pbs.twimg.com/media/FO80LetXEAgTl6q.jpg],None
3,2022-03-28 16:12:13+00:00,NavyLookout,Independent Royal Navy news and analysis,UK,Latest news commentary:\n\nAssessing Russia’s ...,en,None,[https://pbs.twimg.com/media/FO8t2R3XsAgiBiQ.jpg],None
4,2022-03-28 10:27:52+00:00,Shipsoftherive1,Bringing you what I can when I can from ships ...,"Birkenhead, England",@HMSQNLZ leaving on a very hazy Mersey today \...,en,None,[https://pbs.twimg.com/media/FO7hFBeWQAIPwJa.jpg],None

In [82]:
# export dataframe to csv file
query3.to_csv('C:/Users/tivon/projects/twitter_project/data/query_tweets_navylookout.csv', index = False)